<div id="app">
    <div class="Header__header__By4D3">
        <div>
            <div class="flex justifyBetween alignCenter padding-0-16 undefined Header__desktopHeader__W1nIA">
                <div class="flex alignCenter undefined"><a class="flex justifyCenter alignCenter" href="/labs"><img
                            src="https://assets.1mg.com/pwa-app/production/dweb/2.0.3/static/images/svgs/icons/1mg_logo_header.svg"
                            class="Header__logo__Ellyq ImageLoader__img-loaded__nP9UD" alt="Tata 1mg logo" width="124px"
                            height="36px"></a>
                    <div class="flex"><a
                            class="noAnchorColor flex alignCenter Header__paddingTopBottomItems__SynUd Header__navigationItem__AjlSS"
                            href="/">
                            <div class="padding-0-8 Header__navigationItemText__ShdZ9">MEDICINES</div>
                        </a><a
                            class="noAnchorColor flex alignCenter Header__paddingTopBottomItems__SynUd textAction Header__activeTab__jul9s"
                            href="/labs">
                            <div class="padding-0-8 Header__navigationItemText__ShdZ9">LAB TESTS</div>
                        </a><a
                            class="noAnchorColor flex alignCenter Header__paddingTopBottomItems__SynUd Header__navigationItem__AjlSS"
                            href="/online-doctor-consultation">
                            <div class="padding-0-8 Header__navigationItemText__ShdZ9">CONSULT DOCTORS</div>
                        </a><a href="/cancer-care/home"
                            class="noAnchorColor flex alignCenter Header__paddingTopBottomItems__SynUd Header__navigationItem__AjlSS"
                            target="_blank" rel="noreferrer noopener nofollow">
                            <div class="padding-0-8 Header__navigationItemText__ShdZ9">CANCER CARE</div>
                        </a><a
                            class="noAnchorColor flex alignCenter Header__paddingTopBottomItems__SynUd Header__navigationItem__AjlSS"
                            href="/ayurveda">
                            <div class="padding-0-8 Header__navigationItemText__ShdZ9">AYURVEDA</div>
                        </a><a href="/partnerships"
                            class="noAnchorColor flex alignCenter Header__paddingTopBottomItems__SynUd Header__navigationItem__AjlSS"
                            target="_blank" rel="noreferrer noopener nofollow">
                            <div class="padding-0-8 Header__navigationItemText__ShdZ9">PARTNERSHIPS</div>
                        </a><a href="/subscription-plan/subscriptions"
                            class="noAnchorColor flex alignCenter Header__paddingTopBottomItems__SynUd Header__navigationItem__AjlSS"
                            target="_blank" rel="noreferrer noopener nofollow">
                            <div class="padding-0-8 Header__navigationItemText__ShdZ9">CARE PLAN</div>
                            <div class="AnimateTag__tag__gQCEo AnimateTag__medium__RnVmI AnimateTag__stopAnimation__WVOVI">SAVE MORE</div>
                        </a></div>
                </div>
                <div class="flex alignCenter justifyEnd pY-8 gap-20 undefined">
                    <div class="Header__marginLeft16__Z3pvf">
                        <div class="flex alignCenter">
                            <div class="noAnchorColor" role="link" tabindex="0">
                                <div class="Header__navigationItemText__ShdZ9 pointer">Login</div>
                            </div>
                            <div class="gutter-only">|</div>
                            <div role="link" tabindex="0">
                                <div class="Header__navigationItemText__ShdZ9 pointer">Signup</div>
                            </div>
                        </div>
                    </div>
                    <a class="Header__marginLeft16__Z3pvf noAnchorColor Header__cartContainer__UrAHF"
                        href="/labs/cart"><img
                            src="https://assets.1mg.com/pwa-app/production/dweb/2.0.3/static/images/svgs/icons/cart.svg"
                            class=" ImageLoader__img-loaded__nP9UD" width="22px" height="22px"></a>
                    <!-- <div class="padding-8-0 Header__cartPopup__cMEk3">
                        <div class="bodySemiBold col-4 flex justifyBetween">
                            <div>Order Summary</div>
                            <div>0Test</div>
                        </div>
                        <div class="Separator__separator__nrC_E Separator__extraSmall__EpPtl "
                            style="margin-top:4px;margin-bottom:4px"></div>
                        <div class="col-4"></div><a
                            class="flex justifyCenter bodySemiBold textAction padding-8-0 pointer"
                            href="/labs/cart">PROCEED TO CART</a>
                    </div> -->
                    <a class="Header__marginLeft16__Z3pvf noAnchorColor" href="/help">
                        <div class="Header__navigationItemText__ShdZ9 pointer">Need Help?</div>
                    </a>
                </div>
            </div>
            <div class="Separator__separator__nrC_E Separator__extraSmall__EpPtl "></div>
        </div>
    </div>
</div>