.find-home-box {
    width: 100%;
    padding: 0px 30px 0px;
}
.w3l-signup7 {
    background: #fff !important;
    background-position: 50% 50%;
    padding: 8px;
    margin: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 100% !important;
    box-shadow: 0px 0px 11px 0px rgb(27, 27, 27) !important;
    h3 {
        font-family: Calibri;
        font-size: 20px;
        font-weight: 600;
        color: #2b569a;
        margin-bottom: 10px;
    }
    
    fieldset {
        margin: 0 2px;
        padding: 10px 5px 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        legend {
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}